@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body {
    margin: 0;
    font-family: 'Tilt Neon', cursive;
}

.faux-nav {
    width: auto;
    height: 60px;
    background-color: #01ff38;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(238, 247, 255);
}

.faux-brand {
    width: 300px;
    font-weight: 800;
    font-size: 25px;
}

.faux-brand span{
    margin: 0 0 0 2px
}

.nav-list {
    list-style-type: none;
    padding: 0;
    width: 450px;
}

.nav-list li {
    display: inline;
    margin-right: 40px;
}

.nav-list li a {
    color: rgb(238, 247, 255);
    text-decoration: none;
}

.nav-list a:hover {
    border-bottom: 1px solid rgb(238, 247, 255);
    position: relative;
    top: 2px;
}

.social-icons {
    width: 300px;
    font-size: 20px;
}

.faux-nav .social-icons {
    text-align: right;
}

.index-header {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    width: 65%;
    margin: 50px 0;
    background-color: #27BEC5;
    color: antiquewhite;
    display: flex;
}

.header-text {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 80px 20px 20px 100px;
}

.header-text span {
    font-size: 40px;
}

.header-content p {
    font-size: 12px;
}

.header-content a {
    color:antiquewhite;
    text-decoration: none;
}

.header-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image img {
    width: 300px;
}

/* .arrow button {
    border: 0;
}

.arrow-left {
    background-color: #ff7101;
    position: relative;
    right: -30px;
    width: 40px;
    height: 40px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-right {
    background-color: #ff7101;
    position: relative;
    left: -30px;
    width: 40px;
    height: 40px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.header-left-arrow {
    display: flex;
    align-items: center;
    font-size: 40px;
    position: relative;
    left: -20px;
}

.header-right-arrow {
    display: flex;
    align-items: center;
    font-size: 40px;
    position: relative;
    left: 20px;
}

.header-left-arrow i, .header-right-arrow i {
    background-color: #ff7101;
    padding: 10px
}

.card-section {
    width: auto;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    margin: 0 0 60px 0;
}

.card-content {
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    padding: 0 30px;
    margin: 30px 30px 60px 30px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-icon {
    font-size: 80px;
    color: #ff7101;
}

/* .card-text {
} */

.card-text span {
    color: #27BEC5;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.card-text p {
    text-align: justify;
    font-size: 14px;
}

.card-button {
    font-size: 20px;
    position: relative;
    top: 20px;
}

.card-button a {
    text-decoration: none;
    background-color: #27BEC5;
    color: antiquewhite;
    padding: 10px;
}

.faux-footer {
    width: auto;
    background-color: #ff7101;
    color: #e6e6e6;
    display: flex;
    justify-content: space-around;
}

.faux-footer .social-icons {
    padding: 1em 0 0 0;
}

.footer-contact {
    width: 300px;
    text-align: right;
}

.copyrights {
    width: auto;
    background-color: #e6e6e6;
}

.copyrights span {
    display: block;
    text-align: center;
}

